<h1>Hi <%= current_user.name.partition(" ").first or "there"%>, this is your profile.</h1><hr>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :name, required: true %>
    <%= f.input :age, required: false %>
    <%= f.input :major, required: false %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :current_password, required: true %>
    <p>we need your current password to confirm your changes.</p>
  </div>

  <div class="form-actions" style="margin-top:10px;">
    <%= f.button :submit, "Update" %>
  </div>
<% end %><hr>

<div class="form-inputs row">
  <div class="col-sm-6">
    <%= simple_form_for current_user, :url => add_tag_path do |f|%>
      <%= f.label :tag_list, "Add Interests (comma separated)" %>
      <%= f.input :tag_list, label: false, input_html: { class: 'tagbox' } %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <div class="col-sm-6">
    <%= simple_form_for current_user, :url => remove_tag_path do |f|%>
      <%= f.label :tag_list, "Remove Interests" %>
      <%= f.input :tag_list, label: false, input_html: { class: 'tagbox' } %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div><hr>

<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<hr><%= link_to "< Back", :back %>
