<div class="match-profile">
  <div class="profile-pic">
    <%= square_avatar @User, size: 150 %>
  </div>

  <div class="row" style="margin-top:10px">
    <div class="col-sm-8">
      <h3 style="margin-top: 0px;"><%= @User.name or "<Name>"%></h3>

      <h4> Age: <span style="font-weight: 400;">
        <%= @User.age or "<age>" %> yrs.
      </span></h4>

      <h4> Major: <span style="font-weight: 400;">
      <%= @User.major or "<major>" %>
      </span></h4>

      <h4> Interests: </h4>
      <p><% if @User.tags.any? %>
          <% @User.tags.each do |tag| %>
            <%= tag.name %>,
          <% end %>
         <% end %>
      </p>
    </div>
    <div class="col-sm-4 sidebar-column">
      <%= button_to "Partner up!", requests_path(match_id: @User.id, status: true), :class => "button blocky like", method: :post  %>
      <%= button_to "Pass..", requests_path(match_id: @User.id, status: false), :class => "button blocky dislike", :method => :post  %>
    </div>
  </div>
</div>
