<h3>Received Requests</h3><hr>
<div class=”ui segment”>
    <% @incoming.each do |request| %>
      <div class="row">
        <div class="col-sm-2">
          <%= gravatar_for request.user, size: 80 %>
        </div>
        <div class="col-sm-10">
          <p style="display: inline-block;"><%= request.user.name %></p>

          <%= button_to "Accept", requests_path(match_id: request.user.id, status: true), :class => "button blocky small like", method: :post  %>
        </div>
      </div><hr>
    <% end %>
</div>

<% if current_user.requests.where(status: true).any? %>
<br><h3>Sent Requests</h3><hr>
<div class=”ui segment”>
    <% @outgoing_match.each do |request| %>
        <p><%= User.find(request.match_id).name %></p>
    <% end %>
</div>
<% end %>

<% if current_user.requests.where(status: false).any? %>
<br><h3>Passed</h3><hr>
<div class=”ui segment”>
    <% @outgoing_passed.each do |request| %>
        <p><%= User.find(request.match_id).name %></p>
    <% end %>
</div>
<% end %>
