<div class="subprofile">
  <div class="profile-pic">
    <img src=<%= "https://avatars3.githubusercontent.com/u/9123187?v=3&s=460" or current_user.profile_pic %>
    />
  </div>

  <h3><%= current_user.name or "<Name>"%></h3>

  <h4> Age: <span style="font-weight: 400;">
    <%= current_user.age or "<age>" %> yrs.
  </span></h4>

  <h4> Major: <span style="font-weight: 400;">
  <%= current_user.major or "<major>" %>
  </span></h4>
  
  <h4> Interests: </h4>
    <p><% if current_user.tags.any? %>
        <% current_user.tags.each do |tag| %>
          <%= tag.name %>,
        <% end %>
       <% end %>
    </p>
  <hr>

  <p><i> Matches: <%= @matches or "#" %></i> </p>
  <p><i> Messages: <%= @conversations or "#" %></i> </p>

</div>
<!-- todo:
  edit interests to point to interests once column is created,
  change order of profile-pic link once profile_pic column is made,
  -->
